[Desktop Entry]
Type=Application
Version=1.0
Name=${PROJECT_NAME}
Comment=Astronomy DSLR Manager, with autoguider and telescope control
Exec=${PROJECT_NAME}
Icon=${PROJECT_NAME}
Terminal=false
Categories=Science;Graphics
