[Desktop Entry]
Type=Application
Version=${VERSION_STRING}
Name=${PROJECT_NICE_NAME}
Comment=Astronomy DSLR Manager, with autoguider and telescope control
Exec=${PROJECT_NAME}
Icon=${PROJECT_NAME}
Terminal=false
Categories=Science;Graphics
